body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} /* Flexboxレイアウト設定 */

h1 {
    color: red;
    font-size: 50pt;
}

.rule {
    font-size: 30pt;
    margin-bottom: 550px;
}

.display {
    display: flex;
    align-items: center;
    font-size: 20pt;
    margin-bottom: 10px;
}

.inline {
    flex: 1;
}

#counter {
    margin-right: 200px;
    width: 250px;
    border: 3px solid black;    
}

#start {
    margin-right: 200px;
    font-size: 20pt;
    font-weight: bold;
}

#timer {
    display: flex;
    align-items: center;
}

#timer p {
    margin-right: 30px;
}
